// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

.pakko {
  width: 100px;
  height: 100px;
  background: url('atom://pakko/assets/pakko.png') no-repeat center;
  background-size: contain;
}
